main{
    min-height: 400px;
}
.datos{
    width: 100%;
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 10px;
}
.datos input{
    border: none;
    background: transparent;
    border-bottom: 2px solid crimson;
    outline: none;
    transition: 0.4s linear;
}
.datos input:focus{
    background-color: crimson;  /*modificar el color a el mismo del footer y header */
    padding: 15px;
    border-radius: 15px;
}
.consulta{
    padding: 5px;
    display: grid;
    justify-content: center;
    grid-template-columns: 80%;
    grid-gap: 10px;
}
.consulta textarea{
    border: none;
    background: transparent;
    border-bottom: 2px solid crimson;
    outline: none;
    transition: 0.4s linear;
}
.consulta textarea:focus{
    background-color: crimson;  /*modificar el color a el mismo del footer y header */
    padding: 15px;
    border-radius: 15px;
    height: 100px;
}
form{
    text-align: center;
}
input[type="submit"]{
    height: 40px;
    width: 70px;
    border: none;
    background-color: crimson;  
    outline: none;  
    border-radius: 15px;
}
input[type="text"]::placeholder, textarea::placeholder, input[type="email"]::placeholder{
    color: rgba(43, 39, 39, 0.858);
}